# Question 1: Retrieve the total number of rentals made in the Sakila database. 
Hint: Use the COUNT() function.

Answer 1: select count(rental_id) as total_num_of_rentals from rental;

# Question 2: Find the average rental duration (in days) of movies rented from the Sakila database.
Hint: Utilize the AVG() function.

Answer 2: select avg(rental_duration) as average_rental_duration from film;

# Question 3: Display the first name and last name of customers in uppercase. Hint: Use the UPPER () function.

Answer 3: select upper(first_name), upper(last_name) from customer;

# Question 4: Extract the month from the rental date and display it alongside the rental ID. Hint: Employ the MONTH() function.

Answer 4: select month(rental_date), rental_id from rental;

# Question 5: Retrieve the count of rentals for each customer (display customer ID and the count of rentals). Hint: Use COUNT () in conjunction with GROUP BY.

Answer 5: select customer_id, count(rental_id) from rental group by rental_id;

# Question 6: Find the total revenue generated by each store. Hint: Combine SUM() and GROUP BY.

Answer 6: select avg(amount) as Total_Revenue from payment group by amount;

# Question 7: Display the title of the movie, the customer's first name, and the last name who rented it. Hint: Use JOIN between the film, inventory, rental, and customer tables.

Answer 7: select film.title, customer.first_name, customer.last_name from film inner join customer on film.film_id = customer.customer_id inner join inventory on film.film_id = inventory.inventory_id inner join rental on film.film_id = rental.rental_id;

# Question 8: Retrieve the names of all actors who have appeared in the film "Gone with the Wind." Hint: Use JOIN between the film actor, film, and actor tables.

Answer 8: select first_name, last_name from actor left join film on actor.actor_id = film.film_id where film.title = 'Gone with the Wind';

# Group By:----

# Question 1: Determine the total number of rentals for each category of movies. 
Hint: JOIN film_category, film, and rental tables, then use COUNT () and GROUP BY. 

Answer: 
select film_category.category_id, rental.rental_id from film_category inner join film on film_category.film_id = film.film_id 
inner join inventory on film.film_id= inventory.film_id inner join rental on inventory.inventory_id = rental.inventory_id
group by category_id

# Question 2: Find the average rental rate of movies in each language. 
Hint: JOIN film and language tables, then use AVG () and GROUP BY.
    
Answer: select avg(rental_rate), language.name from film right join language on film.language_id=language.language_id 
group by language.name;

# Join: Question 3: Retrieve the customer names along with the total amount they've spent on rentals. Hint: JOIN customer, payment, and rental tables, then use SUM() and GROUP BY.

Answer: select customer.first_name, customer.last_name, sum(payment.amount),rental.rental_id from customer left join payment on customer.customer_id = payment.customer_id left join rental on payment.rental_id = rental.rental_id group by rental_id;

# Question 4: List the titles of movies rented by each customer in a particular city (e.g., 'London'). Hint: JOIN customer, address, city, rental, inventory, and film tables, then use GROUP BY.

Answer: select film.title, count(city.city) from film inner join inventory on film.film_id = inventory.film_id inner join customer on inventory.store_id = customer.customer_id inner join address on customer.address_id = address.address_id inner join city on address.city_id = city.city_id inner join rental on inventory.inventory_id = rental.inventory_id where city.city = 'London';

# Advanced Joins and GROUP BY:
# Question 5: Display the top 5 rented movies along with the number of times they've been rented. Hint: JOIN film, inventory, and rental tables, then use cOUNT() and GROUP BY, and limit the results.

Answer:
select film.title , rental.rental_date, count(*) as totla_nunber_of_counts from film inner join inventory on film.film_id = inventory.film_id inner join rental on inventory.inventory_id = rental.inventory_id group by rental_date limit 5;

# Question 6: Determine the customers who have rented movies from both stores (store ID 1 and store ID 2). Hint: Use JOINS with rental, inventory, and customer tables and consider COUNT() and GROUP BY.

Answer: select rental.rental_id, customer.store_id, count(customer.customer_id) from customer inner join rental on rental.customer_id = customer.customer_id inner join inventory on rental.inventory_id = inventory.inventory_id where customer.store_id = 1 or customer.store_id = 2 group by customer.customer_id order by customer.store_id;